@using MyAspNetCoreApp.Web.Controllers
@*@model List<MyAspNetCoreApp.Web.Controllers.OrnekController.Product>;
*@
@{
    ViewData["Title"] = "Index";
}


<h1> Ornek Controller Index Page</h1>

@{
    var name = ViewBag.name;
    <p>@name</p>
}
<p>@name</p>
<p>@ViewBag.name</p>

<hr />
<p>Yas: @ViewData["age"]</p>
<hr />
<p>@ViewBag.Name2</p>
<hr />
<h1>İsimler</h1>

@foreach (var item in ViewData["names"] as List<string>)
{
    <p>@item</p>
}

<p>@ViewBag.person.Id - @ViewBag.person.name - @ViewBag.person.age </p>
<hr />

@model List<OrnekController.Product>;
@foreach (var item in Model)
{
    <p>@item.Id - @item.Name </p>
}

